block banner
    aside.banner
        .banner__image.wrap
            //picture
            //    source(srcset="assets/img/banner/bg.webp" type="image/webp")
            //    source(srcset="assets/img/banner/bg.png" type="image/png")
            //    img(src="assets/img/banner/bg.png")
