block gallery
    section.gallery
        .gallery__info
            .info
                h2.gallery__title Льняная одежда Kayros
                p.gallery__subtitle ЭЛЕГАНТНЫЙ ОБРАЗ нужен каждому, <br> У НАС ЕСТЬ ВСё НЕОБХОДИМОЕ
            .swiper-pagination
        .swiper-container.swiper-1
            .swiper-wrapper
                .swiper-slide
                    .swiper-slide-1
                    .swiper-slide-name Бохо
                .swiper-slide
                    .swiper-slide-2
                    .swiper-slide-name Платья и сарафаны
                .swiper-slide
                    .swiper-slide-3
                    .swiper-slide-name Блузки и туники
                .swiper-slide
                    .swiper-slide-4
                    .swiper-slide-name Брюки и капри
                .swiper-slide
                    .swiper-slide-5
                    .swiper-slide-name Жакеты
                .swiper-slide
                    .swiper-slide-6
                    .swiper-slide-name Юбки
                .swiper-slide
                    .swiper-slide-7
                    .swiper-slide-name Мужская коллекция
