block gallery
    section.gallery
        .gallery__info
            h2.gallery__title Льняная одежда Kayros
            p.gallery__subtitle ЭЛЕГАНТНЫЙ ОБРАЗ нужен каждому, <br> У НАС ЕСТЬ ВСё НЕОБХОДИМОЕ
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .swiper-slide-1
                    .swiper-slide-name Бохо
                .swiper-slide
                    .swiper-slide-2
                    .swiper-slide-name Платья и сарафаны
                .swiper-slide
                    .swiper-slide-3
                    .swiper-slide-name Блузки и туники
