block gallery
    .gallery__wrapper
        section.gallery
            .gallery__info.mobile
                .info
                    h2.gallery__title
                        p.wow.fadeInUp10 Льняная
                        p.wow.fadeInUp10 одежда
                        p.wow.fadeInUp10 Kayros
                    .gallery__subtitle
                        p.wow.fadeInUp10 ЭЛЕГАНТНЫЙ ОБРАЗ
                        p.wow.fadeInUp10 нужен каждому,
                        p.wow.fadeInUp10 У НАС ЕСТЬ
                        p.wow.fadeInUp10 ВСё НЕОБХОДИМОЕ
            .swiper-container.swiper-1
                .swiper-wrapper.lol
                    .swiper-slide
                        .gallery__info.desktop
                            .info
                                h2.gallery__title
                                    p.wow.fadeInUp10 Льняная
                                    p.wow.fadeInUp10 одежда
                                    p.wow.fadeInUp10 Kayros
                                .gallery__subtitle
                                    p.wow.fadeInUp10 ЭЛЕГАНТНЫЙ ОБРАЗ
                                    p.wow.fadeInUp10 нужен каждому,
                                    p.wow.fadeInUp10 У НАС ЕСТЬ
                                    p.wow.fadeInUp10 ВСё НЕОБХОДИМОЕ
                            .swiper-pagination.wow.fadeIn
                    .swiper-slide.wow.heightUp
                        a.swiper-slide-img(href="#")
                            picture
                                source(srcset="assets/img/swipe/item-1.webp" type="image/webp")
                                source(srcset="assets/img/swipe/item-1.png" type="image/png")
                                img(src="assets/img/swipe/item-1.png")
                            span Бохо
                    .swiper-slide.wow.heightUp
                        a.swiper-slide-img(href="#")
                            picture
                                source(srcset="assets/img/swipe/item-2.webp" type="image/webp")
                                source(srcset="assets/img/swipe/item-2.png" type="image/png")
                                img(src="assets/img/swipe/item-2.png")
                            span Платья и сарафаны
                    .swiper-slide.wow.heightUp
                        a.swiper-slide-img(href="#")
                            picture
                                source(srcset="assets/img/swipe/item-3.webp" type="image/webp")
                                source(srcset="assets/img/swipe/item-3.png" type="image/png")
                                img(src="assets/img/swipe/item-3.png")
                            span Блузки и туники
                    .swiper-slide.wow.heightUp
                        a.swiper-slide-img(href="#")
                            picture
                                source(srcset="assets/img/swipe/item-4.webp" type="image/webp")
                                source(srcset="assets/img/swipe/item-4.png" type="image/png")
                                img(src="assets/img/swipe/item-4.png")
                            span Брюки и капри
                    .swiper-slide.wow.heightUp
                        a.swiper-slide-img(href="#")
                            picture
                                source(srcset="assets/img/swipe/item-5.webp" type="image/webp")
                                source(srcset="assets/img/swipe/item-5.png" type="image/png")
                                img(src="assets/img/swipe/item-5.png")
                            span Жакеты
                    .swiper-slide.wow.heightUp
                        a.swiper-slide-img(href="#")
                            picture
                                source(srcset="assets/img/swipe/item-6.webp" type="image/webp")
                                source(srcset="assets/img/swipe/item-6.png" type="image/png")
                                img(src="assets/img/swipe/item-6.png")
                            span Юбки
                    .swiper-slide.wow.heightUp
                        a.swiper-slide-img(href="#")
                            picture
                                source(srcset="assets/img/swipe/item-7.webp" type="image/webp")
                                source(srcset="assets/img/swipe/item-7.png" type="image/png")
                                img(src="assets/img/swipe/item-7.png")
                            span Мужская коллекция
