block gallery_new
    section.gallery-new
        h2.gallery-new__title.wow.fadeInUp10 Новинки каталога
        .swiper-container.swiper-2
            .swiper-wrapper
                .swiper-slide.wow.fadeInUp10
                    a.swiper-slide-img(href="#")
                        img(src="assets/img/swipe-new/item-1.jpg")
                        span NEW
                    ul.swiper-slide-colors
                        li.colors__item
                            span.active
                                a(href="#" data-img="assets/img/swipe-new/item-1.jpg" style="background-color: #0000FF;")
                        li.colors__item
                            span
                                a(href="#" data-img="assets/img/swipe-new/item-2.jpg" style="background-color: #FF0000;")
                        li.colors__item
                            span
                                a(href="#" data-img="assets/img/swipe-new/item-3.jpg" style="background-color: #00FF00;")
                    a.swiper-slide-title(href="#") 4/47 сарафан
                    p.swiper-slide-price 3600 р.
                    a.swiper-slide-btn(href="#") Подробнее
                .swiper-slide.wow.fadeInUp10
                    a.swiper-slide-img(href="#")
                        img(src="assets/img/swipe-new/item-2.jpg")
                        span NEW
                    ul.swiper-slide-colors
                        li.colors__item
                            span.active
                                a(href="#" style="background-color: #0000FF;")
                        li.colors__item
                            span
                                a(href="#" style="background-color: #FF0000;")
                        li.colors__item
                            span
                                a(href="#" style="background-color: #00FF00;")
                    a.swiper-slide-title(href="#") 4/47 сарафан
                    p.swiper-slide-price 3600 р.
                    a.swiper-slide-btn(href="#") Подробнее
                .swiper-slide.wow.fadeInUp10
                    a.swiper-slide-img(href="#")
                        img(src="assets/img/swipe-new/item-3.jpg")
                        span NEW
                    ul.swiper-slide-colors
                        li.colors__item
                            span.active
                                a(href="#" style="background-color: #0000FF;")
                        li.colors__item
                            span
                                a(href="#" style="background-color: #FF0000;")
                        li.colors__item
                            span
                                a(href="#" style="background-color: #00FF00;")
                    a.swiper-slide-title(href="#") 4/47 сарафан
                    p.swiper-slide-price 3600 р.
                    a.swiper-slide-btn(href="#") Подробнее
                .swiper-slide.wow.fadeInUp10
                    a.swiper-slide-img(href="#")
                        img(src="assets/img/swipe-new/item-4.jpg")
                        span NEW
                    ul.swiper-slide-colors
                        li.colors__item
                            span.active
                                a(href="#" style="background-color: #0000FF;")
                        li.colors__item
                            span
                                a(href="#" style="background-color: #FF0000;")
                        li.colors__item
                            span
                                a(href="#" style="background-color: #00FF00;")
                    a.swiper-slide-title(href="#") 4/47 сарафан
                    p.swiper-slide-price 3600 р.
                    a.swiper-slide-btn(href="#") Подробнее
        a.gallery-new__btn.wow.fadeInUp10(href="#") Перейти в каталог
