block gallery_new
    section.gallery-new
        h2.gallery-new__title Новинки каталога
        .swiper-container.swiper-2
            .swiper-wrapper
                .swiper-slide
                    a.swiper-slide-img(href="#")
                        picture
                            source(srcset="assets/img/swipe-new/item-1.webp" type="image/webp")
                            source(srcset="assets/img/swipe-new/item-1.jpg" type="image/png")
                            img(src="assets/img/swipe-new/item-1.jpg")
                        span NEW
                .swiper-slide
                    a.swiper-slide-img(href="#")
                        picture
                            source(srcset="assets/img/swipe-new/item-2.webp" type="image/webp")
                            source(srcset="assets/img/swipe-new/item-2.jpg" type="image/png")
                            img(src="assets/img/swipe-new/item-2.jpg")
                        span NEW
                .swiper-slide
                    a.swiper-slide-img(href="#")
                        picture
                            source(srcset="assets/img/swipe-new/item-3.webp" type="image/webp")
                            source(srcset="assets/img/swipe-new/item-3.jpg" type="image/png")
                            img(src="assets/img/swipe-new/item-3.jpg")
                        span NEW
                .swiper-slide
                    a.swiper-slide-img(href="#")
                        picture
                            source(srcset="assets/img/swipe-new/item-4.webp" type="image/webp")
                            source(srcset="assets/img/swipe-new/item-4.jpg" type="image/png")
                            img(src="assets/img/swipe-new/item-4.jpg")
                        span NEW
        a.gallery-new__btn(href="#") Перейти в каталог
