block information
    section.information
        .information__left
            p Kayros специализируется на производстве одежды из 100% натурального льна.
            p Поэтому выбирая и приобретая для себя наши качественные вещи, Вы можете быть уверены, что дарите своему телу здоровье и комфорт, а себе возможность выглядеть красиво и стильно.
            p
                a(href="#") Подробнее о компании
                svg(width="47" height="8" viewBox="0 0 47 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M46.3536 4.35355C46.5488 4.15829 46.5488 3.84171 46.3536 3.64645L43.1716 0.464466C42.9763 0.269204 42.6597 0.269204 42.4645 0.464466C42.2692 0.659728 42.2692 0.976311 42.4645 1.17157L45.2929 4L42.4645 6.82843C42.2692 7.02369 42.2692 7.34027 42.4645 7.53553C42.6597 7.7308 42.9763 7.7308 43.1716 7.53553L46.3536 4.35355ZM0 4.5H46V3.5H0V4.5Z" fill="#B0976E")
        .information__right
            p Предлагаем оптовым и розничным покупателям широкий выбор одежды: платья и сарафаны, блузы, жакеты и ветровки, юбки, капри и брюки — повседневные и вечерние модели для женщин и мужчин всех возрастных категорий. Одежда выполнена в модной цветовой гамме и имеет широкий размерный ряд.
            p Наша одежда подчеркнет Вашу индивидуальность в любой обстановке и прекрасно подойдет для работы в офисе, прогулок по городу, вечернего выхода. Вам понравилась наша одежда, и Вы решили приобрести одну модель или партию? Оформите свой заказ в нашем интернет-магазине. Быстро и бесплатно доставляем заказы по всей России.
            p
                span Уточнить условия оформления и доставки заказов через интернет-магазин, а также получить ответы на вопросы по поводу планируемого заказа, можно по Email:
                a(href="mailto:zakaz@kayrosxl.ru") zakaz@kayrosxl.ru
                span или позвонить по телефону лини поддержки:
                a(href="tel:88002223707") 8-800-222-37-07
                span .
