block instagram
    section.instagram.wow.fadeInUp10
        .swiper-container.swiper-3
            .swiper-wrapper
                .swiper-slide
                    a.swiper-slide-img(href="#")
                        picture
                            source(srcset="assets/img/instagram/item-1.webp" type="image/webp")
                            source(srcset="assets/img/instagram/item-1.jpg" type="image/jpeg")
                            img(src="assets/img/instagram/item-1.jpg")
                .swiper-slide
                    a.swiper-slide-img(href="#")
                        picture
                            source(srcset="assets/img/instagram/item-2.webp" type="image/webp")
                            source(srcset="assets/img/instagram/item-2.jpg" type="image/jpeg")
                            img(src="assets/img/instagram/item-2.jpg")
                .swiper-slide
                    a.swiper-slide-img(href="#")
                        picture
                            source(srcset="assets/img/instagram/item-3.webp" type="image/webp")
                            source(srcset="assets/img/instagram/item-3.jpg" type="image/jpeg")
                            img(src="assets/img/instagram/item-3.jpg")
                .swiper-slide
                    a.swiper-slide-img(href="#")
                        picture
                            source(srcset="assets/img/instagram/item-4.webp" type="image/webp")
                            source(srcset="assets/img/instagram/item-4.jpg" type="image/jpeg")
                            img(src="assets/img/instagram/item-4.jpg")
                .swiper-slide
                    a.swiper-slide-img(href="#")
                        picture
                            source(srcset="assets/img/instagram/item-5.webp" type="image/webp")
                            source(srcset="assets/img/instagram/item-5.jpg" type="image/jpeg")
                            img(src="assets/img/instagram/item-5.jpg")
