block nav
    nav.menu
        .menu__left
            picture.menu__logo
                source(srcset="assets/img/header/logo.webp" type="image/webp")
                source(srcset="assets/img/header/logo.png" type="image/png")
                img(src="assets/img/header/logo.png" alt="Кайрос")
            ul.nav
                li.nav__item.catalog
                    svg(width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                        circle(cx="8.5" cy="8.5" r="1.5" fill="white")
                        circle(cx="8.5" cy="8.5" r="1.5" fill="white")
                        circle(cx="8.5" cy="8.5" r="1.5" fill="#B0976E")
                        circle(cx="1.5" cy="8.5" r="1.5" fill="white")
                        circle(cx="1.5" cy="8.5" r="1.5" fill="white")
                        circle(cx="1.5" cy="8.5" r="1.5" fill="#B0976E")
                        circle(cx="8.5" cy="1.5" r="1.5" fill="white")
                        circle(cx="8.5" cy="1.5" r="1.5" fill="white")
                        circle(cx="8.5" cy="1.5" r="1.5" fill="#B0976E")
                        circle(cx="1.5" cy="1.5" r="1.5" fill="white")
                        circle(cx="1.5" cy="1.5" r="1.5" fill="white")
                        circle(cx="1.5" cy="1.5" r="1.5" fill="#B0976E")
                    a.nav__link(href="#" title="Каталог") Каталог
                    .menu__hover
                        ul.list
                            li.list__item
                                a.list__link(href="#") Бохо
                            li.list__item
                                a.list__link(href="#") Блузки и туники
                            li.list__item
                                a.list__link(href="#") Брюки и шорты
                            li.list__item
                                a.list__link(href="#") Жакеты
                        ul.list
                            li.list__item
                                a.list__link(href="#") Платья и сарафаны
                            li.list__item
                                a.list__link(href="#") Юбки
                            li.list__item
                                a.list__link(href="#") Мужская коллекци
                            li.list__item
                                a.list__link(href="#") Коллекция 2021
                li.nav__item
                    a.nav__link(href="#" title="Распродажа") Распродажа
                li.nav__item
                    a.nav__link(href="#" title="Партнёрам") Партнёрам
        .menu__right
            .menu__search
                input(type="search")
                svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                    circle(cx="6.5" cy="6.5" r="5.5" stroke="#333333" stroke-width="2")
                    rect(x="9" y="10.4142" width="2" height="7" transform="rotate(-45 9 10.4142)" fill="#333333")
            .menu__account
                svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M18 20H20C20 15.5817 15.5228 12 10 12C4.47715 12 0 15.5817 0 20H2C2 17.0797 5.14219 14 10 14C14.8578 14 18 17.0797 18 20Z" fill="#333333")
                    circle(cx="10" cy="5" r="4" stroke="#333333" stroke-width="2")
            .menu__cart
                svg(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(x="6" y="1" width="8" height="10" rx="2" stroke="#333333" stroke-width="2")
                    path(d="M1 7C1 6.44772 1.44772 6 2 6H18C18.5523 6 19 6.44772 19 7V19C19 19.5523 18.5523 20 18 20H2C1.44772 20 1 19.5523 1 19V7Z" fill="white" stroke="#333333" stroke-width="2")
                span.cart__total 5
            .menu__hamburger
                span
                span
                span
        .menu__hamburger-aside
            .aside__header
                picture
                    source(srcset="assets/img/header/logo.webp" type="image/webp")
                    source(srcset="assets/img/header/logo.png" type="image/png")
                    img(src="assets/img/header/logo.png" alt="Кайрос")
                a.aside__close(href="#") Закрыть
                    svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(x="1.41431" y="1.90735e-05" width="18" height="2" transform="rotate(45 1.41431 1.90735e-05)" fill="#333333")
                        rect(x="0.000244141" y="12.7279" width="18" height="2" transform="rotate(-45 0.000244141 12.7279)" fill="#333333")
            .aside__content
                .aside__content-column
                    h3.aside__content-title
                        a.aside__content-link Каталог
                    ul.list
                        li.list__item
                            a.list__link(href="#") Бохо
                        li.list__item
                            a.list__link(href="#") Блузки, туники
                        li.list__item
                            a.list__link(href="#") Брюки, капри, шорты
                        li.list__item
                            a.list__link(href="#") Жакеты
                        li.list__item
                            a.list__link(href="#") Платья, сарафаны
                        li.list__item
                            a.list__link(href="#") Юбки
                        li.list__item
                            a.list__link(href="#") Мужская одежда
                        li.list__item
                            a.list__link(href="#") Маски
                .aside__content-column
                    h3.aside__content-title
                        a.aside__content-link Помощь
                    ul.list
                        li.list__item
                            a.list__link(href="#") Уход за одеждой из льна
                        li.list__item
                            a.list__link(href="#") Как заказать
                        li.list__item
                            a.list__link(href="#") Доставка
                        li.list__item
                            a.list__link(href="#") Оплата
                        li.list__item
                            a.list__link(href="#") Условия возврата
                        li.list__item
                            a.list__link(href="#") Политика конфиденциальности

                    a.partner.desktop(href="#")
                        svg.partner__icon(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M15.1579 12.6316V13.4737C15.1579 14.4042 14.4042 15.1579 13.4737 15.1579H1.68421C0.753684 15.1579 0 14.4042 0 13.4737V1.68421C0 0.753684 0.753684 0 1.68421 0H13.4737C14.4042 0 15.1579 0.753684 15.1579 1.68421V2.52632H7.57895C6.64842 2.52632 5.89474 3.28 5.89474 4.21053V10.9474C5.89474 11.8779 6.64842 12.6316 7.57895 12.6316H15.1579ZM7.57895 10.9474H16V4.21053H7.57895V10.9474ZM10.9474 8.8421C10.2484 8.8421 9.68421 8.27789 9.68421 7.57895C9.68421 6.88 10.2484 6.31579 10.9474 6.31579C11.6463 6.31579 12.2105 6.88 12.2105 7.57895C12.2105 8.27789 11.6463 8.8421 10.9474 8.8421Z" fill="#333333")
                        span Стать партнёром
                .aside__content-column
                    h3.aside__content-title
                        a.aside__content-link О компании
                    ul.list
                        li.list__item
                            a.list__link(href="#") О компании Kayros
                        li.list__item
                            a.list__link(href="#") Новости
                        li.list__item
                            a.list__link(href="#") Производство
                        li.list__item
                            a.list__link(href="#") Реквизиты
                        li.list__item
                            a.list__link(href="#") Контакты
                    a.partner(href="#")
                        svg.partner__icon(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M15.1579 12.6316V13.4737C15.1579 14.4042 14.4042 15.1579 13.4737 15.1579H1.68421C0.753684 15.1579 0 14.4042 0 13.4737V1.68421C0 0.753684 0.753684 0 1.68421 0H13.4737C14.4042 0 15.1579 0.753684 15.1579 1.68421V2.52632H7.57895C6.64842 2.52632 5.89474 3.28 5.89474 4.21053V10.9474C5.89474 11.8779 6.64842 12.6316 7.57895 12.6316H15.1579ZM7.57895 10.9474H16V4.21053H7.57895V10.9474ZM10.9474 8.8421C10.2484 8.8421 9.68421 8.27789 9.68421 7.57895C9.68421 6.88 10.2484 6.31579 10.9474 6.31579C11.6463 6.31579 12.2105 6.88 12.2105 7.57895C12.2105 8.27789 11.6463 8.8421 10.9474 8.8421Z" fill="#333333")
                        span Стать партнёром
                    .social
                        a(href="#")
                            svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M29.3333 0H2.66667C1.95942 0 1.28115 0.280952 0.781049 0.781049C0.280952 1.28115 0 1.95942 0 2.66667L0 29.3333C0 30.0406 0.280952 30.7189 0.781049 31.219C1.28115 31.719 1.95942 32 2.66667 32H29.3333C30.0406 32 30.7189 31.719 31.219 31.219C31.719 30.7189 32 30.0406 32 29.3333V2.66667C32 1.95942 31.719 1.28115 31.219 0.781049C30.7189 0.280952 30.0406 0 29.3333 0V0ZM24.68 18.8533C26.3733 20.9333 26.6667 21.3333 26.6667 21.72C26.6667 22.6667 25.5867 22.6667 24.44 22.6667H22.2267C21.8667 22.6667 21.3867 22.2267 20.64 21.5467C19.8933 20.8667 18.7733 19.8133 18.2267 19.8133C18.0533 19.8133 18.0133 20.1333 17.96 20.8533C17.9067 21.5733 17.84 22.6667 16.8933 22.6667H15.12C11.48 22.6667 5.78667 13.72 5.34667 10.8533C5.34387 10.8223 5.34387 10.791 5.34667 10.76C5.34488 10.6994 5.35529 10.639 5.37727 10.5824C5.39925 10.5259 5.43236 10.4743 5.47464 10.4308C5.51691 10.3873 5.56749 10.3527 5.62338 10.3291C5.67927 10.3055 5.73933 10.2933 5.8 10.2933H9.33333C9.43022 10.2888 9.52589 10.3164 9.60546 10.3719C9.68503 10.4273 9.74405 10.5075 9.77333 10.6C10.5333 12.76 12.0933 15.7867 13.2267 16C13.3261 15.2086 13.3617 14.4105 13.3333 13.6133C13.3333 11.5733 12.84 11.2267 12.84 11.2267C12.7838 11.2201 12.7295 11.2024 12.6802 11.1746C12.6308 11.1468 12.5876 11.1095 12.5528 11.0648C12.5181 11.0202 12.4926 10.969 12.4778 10.9144C12.463 10.8598 12.4592 10.8028 12.4667 10.7467C12.4533 10.0667 13.3333 9.33333 15.56 9.33333C16.8267 9.33333 17.28 9.33333 17.5733 9.66667C17.758 9.92027 17.8347 10.2367 17.7867 10.5467V14.5467C17.7867 15.48 18.04 15.9733 18.2267 15.9733C19.7347 14.4324 20.942 12.6237 21.7867 10.64C21.8024 10.5339 21.8553 10.4369 21.9358 10.3661C22.0164 10.2953 22.1194 10.2553 22.2267 10.2533H26.2267C26.3481 10.2602 26.462 10.3143 26.5442 10.4039C26.6264 10.4936 26.6703 10.6118 26.6667 10.7333C26.6667 11.08 26.36 11.6533 24.6533 14.3467C24.08 15.2667 23.32 16.4933 23.12 16.92C23.3733 17.3333 24.12 18.2 24.68 18.8533Z" fill="#333333")
                        a(href="#")
                            svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M16 18.6668C17.4728 18.6668 18.6667 17.4729 18.6667 16.0002C18.6667 14.5274 17.4728 13.3335 16 13.3335C14.5273 13.3335 13.3334 14.5274 13.3334 16.0002C13.3334 17.4729 14.5273 18.6668 16 18.6668Z" fill="#333333")
                                path(d="M20 8H12C10.9391 8 9.92172 8.42143 9.17157 9.17157C8.42143 9.92172 8 10.9391 8 12V20C8 21.0609 8.42143 22.0783 9.17157 22.8284C9.92172 23.5786 10.9391 24 12 24H20C21.0609 24 22.0783 23.5786 22.8284 22.8284C23.5786 22.0783 24 21.0609 24 20V12C24 10.9391 23.5786 9.92172 22.8284 9.17157C22.0783 8.42143 21.0609 8 20 8ZM16 21.3333C14.9452 21.3333 13.914 21.0205 13.037 20.4345C12.1599 19.8485 11.4763 19.0155 11.0726 18.041C10.669 17.0664 10.5634 15.9941 10.7691 14.9595C10.9749 13.925 11.4829 12.9746 12.2288 12.2288C12.9746 11.4829 13.925 10.9749 14.9595 10.7691C15.9941 10.5634 17.0664 10.669 18.041 11.0726C19.0155 11.4763 19.8485 12.1599 20.4345 13.037C21.0205 13.914 21.3333 14.9452 21.3333 16C21.3333 17.4145 20.7714 18.771 19.7712 19.7712C18.771 20.7714 17.4145 21.3333 16 21.3333ZM21.3333 12C21.0696 12 20.8118 11.9218 20.5926 11.7753C20.3733 11.6288 20.2024 11.4205 20.1015 11.1769C20.0006 10.9333 19.9742 10.6652 20.0256 10.4065C20.0771 10.1479 20.2041 9.91033 20.3905 9.72386C20.577 9.53739 20.8146 9.4104 21.0732 9.35895C21.3319 9.30751 21.5999 9.33391 21.8436 9.43483C22.0872 9.53574 22.2955 9.70664 22.442 9.92591C22.5885 10.1452 22.6667 10.403 22.6667 10.6667C22.6667 11.0203 22.5262 11.3594 22.2761 11.6095C22.0261 11.8595 21.687 12 21.3333 12Z" fill="#333333")
                                path(d="M29.3333 0H2.66667C1.95942 0 1.28115 0.280952 0.781049 0.781049C0.280952 1.28115 0 1.95942 0 2.66667L0 29.3333C0 30.0406 0.280952 30.7189 0.781049 31.219C1.28115 31.719 1.95942 32 2.66667 32H29.3333C30.0406 32 30.7189 31.719 31.219 31.219C31.719 30.7189 32 30.0406 32 29.3333V2.66667C32 1.95942 31.719 1.28115 31.219 0.781049C30.7189 0.280952 30.0406 0 29.3333 0V0ZM26.6667 20C26.6667 21.7681 25.9643 23.4638 24.714 24.714C23.4638 25.9643 21.7681 26.6667 20 26.6667H12C10.2319 26.6667 8.5362 25.9643 7.28595 24.714C6.03571 23.4638 5.33333 21.7681 5.33333 20V12C5.33333 10.2319 6.03571 8.5362 7.28595 7.28595C8.5362 6.03571 10.2319 5.33333 12 5.33333H20C21.7681 5.33333 23.4638 6.03571 24.714 7.28595C25.9643 8.5362 26.6667 10.2319 26.6667 12V20Z" fill="#333333")
                        a(href="#")
                            svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M29.3333 0H2.66667C1.95942 0 1.28115 0.280952 0.781049 0.781049C0.280952 1.28115 0 1.95942 0 2.66667L0 29.3333C0 30.0406 0.280952 30.7189 0.781049 31.219C1.28115 31.719 1.95942 32 2.66667 32H29.3333C30.0406 32 30.7189 31.719 31.219 31.219C31.719 30.7189 32 30.0406 32 29.3333V2.66667C32 1.95942 31.719 1.28115 31.219 0.781049C30.7189 0.280952 30.0406 0 29.3333 0V0ZM21.84 8.70667H20.3733C18.7733 8.70667 18.1867 9.06667 18.1867 10.16V13.08H21.8267L21.0933 16.72H18.1867V26.9333H13.8133V16.7333H10.1733V13.08H13.8133V10.1733C13.7521 9.48735 13.8421 8.79628 14.0771 8.14889C14.312 7.50149 14.6862 6.91356 15.1732 6.42656C15.6602 5.93957 16.2482 5.56538 16.8956 5.33041C17.5429 5.09544 18.234 5.00541 18.92 5.06667H21.84V8.70667Z" fill="#333333")
                    a.phone(href="tel:88002223707") 8 (800) 222-37-07


