doctype html
html(lang="ru")
    block head
    head
        meta(charset="utf-8")
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(content="IE=edge" http-equiv="x-ua-compatible")

        meta(name="description" content=description)
        meta(name="keywords" content=keywords)

        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans&?family=Playfair+Display&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="assets/css/main.css")
    body
        .container
            block content
        script(src="assets/js/modernizr-custom.js")
