doctype html
html(lang="ru")
    block head
    head
        meta(charset="utf-8")
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(content="IE=edge" http-equiv="x-ua-compatible")

        meta(name="description" content=description)
        meta(name="keywords" content=keywords)

        link(rel="preconnect" href="//fonts.gstatic.com")
        link(href="//fonts.googleapis.com/css2?family=Open+Sans&?family=Playfair+Display&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/7.4.1/smooth-scrollbar.css")
        link(rel="stylesheet" href="assets/css/main.css")
        link(rel="stylesheet" type="text/css" href="//unpkg.com/swiper/swiper-bundle.min.css")
    body
        .main-scrollbar(data-scrollbar)
            .container.scroll-content
                block content
            .scrollbar-track.scrollbar-track-x
                .scrollbar-thumb.scrollbar-thumb-x
            .scrollbar-track.scrollbar-track-y
                .scrollbar-thumb.scrollbar-thumb-y
        script(src="assets/js/modernizr-custom.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="https://unpkg.com/smooth-scrollbar@8.5.2/dist/smooth-scrollbar.js")
        script(src="assets/js/main.js")
