.banner {
  position: relative;

  @media (min-width: 992px) {
    background: #F1EBE2;
    padding: 80px 40px;
  }

  @media (min-width: 1400px) {
    padding: 100px 80px;
  }

  @media (min-width: 1601px) {
    padding: 100px 0;
  }

  &__image {
    padding: 0;
    img {
      width: 100%;
    }
  }
}
