.webp {
  .banner {
    &__image {
      background: url('../img/banner/bg.webp') no-repeat center/cover;
    }
  }
}

.no-webp {
  .banner {
    &__image {
      background: url('../img/banner/bg.png') no-repeat center/cover;
    }
  }
}

.banner {
  position: relative;
  height: 333px;
  @media (min-width: 992px) {
    height: calc(100vh - 200px);
    background: #F1EBE2;
    padding: 100px 20px;
  }

  @media (min-width: 1400px) {
    padding: 100px 80px;
  }

  &__image {
    height: inherit;
  }
}
