.no-webp {
  .footer {
    &__copyright {


      .top {

        &:before {
          background: url('../img/icon/arrow-top.png') center center no-repeat;
        }
      }


    }
  }
}

.webp {
  .footer {
    &__copyright {


      .top {

        &:before {
          background: url('../img/icon/arrow-top.webp') center center no-repeat;
        }
      }


    }
  }
}

.footer {
  &-navigation {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1EBE2;
    @media (min-width: 768px) {
      padding: 70px 20px;
    }
    @media (min-width: 992px) {
      padding: 120px 40px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    @media (min-width: 1400px) {
      padding: 120px 80px;
    }

    &__right {
      order: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: 992px) {
        order: 2;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        align-items: flex-start;
        margin-left: calc(100px + 2vw);
      }
    }

    &__contacts {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;

      .copyright {
        margin-bottom: 30px;
        font-size: px-to-rem(12px);
        line-height: px-to-rem(19px);
        color: rgba(51, 51, 51, 0.7);
      }

      .menu__logo {
        @media (min-width: 768px) {
          margin-bottom: 20px;
        }
      }

      @media (min-width: 768px) {
        margin-top: 50px;
      }

      @media (min-width: 992px) {
        order: 1;
        align-items: flex-start;
        margin-top: 0;
      }
    }

    &__catalog {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 220px;
      @media (min-width: 992px) {
        min-width: 0;
      }
    }
    &__support {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 220px;
      @media (min-width: 992px) {
        min-width: 0;
      }
    }
    &__company {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 220px;
      @media (min-width: 992px) {
        min-width: 0;
      }
    }

    .main-link {
      display: flex;
      text-decoration: none;
      align-items: center;
      font-size: px-to-rem(16px);
      line-height: px-to-rem(26px);
      font-weight: bold;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
      margin-bottom: 25px;

      &.partner {
        min-width: 220px;

        .partner__icon {
          margin: 0 10px 0 0;
        }

        @media (min-width: 992px) {
          display: none;
        }

        &.desktop {
          display: none;

          svg {
            @media (min-width: 992px) {
              display: block;
            }
          }

          @media (min-width: 992px) {
            display: flex;
          }
        }
      }

      svg {
        @media (min-width: 992px) {
          display: none;
        }
        margin-left: 10px;
        cursor: pointer;
      }
    }

    .main-nav {
      margin-bottom: 25px;
      display: none;
      transition: 0.3s;

      &.active {
        display: block;
      }

      &__item {
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      &__link {
        font-size: px-to-rem(14px);
        line-height: px-to-rem(20px);
        color: rgba(0, 0, 0, 0.7);
      }

      @media (min-width: 992px) {
        display: block;
      }
    }
  }
  &__copyright {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      padding: 70px 20px;
    }

    @media (min-width: 992px) {
      padding: 100px 40px;
    }

    @media (min-width: 1400px) {
      padding: 100px 80px;
    }

    .top {
      cursor: pointer;
      display: inline-block;
      margin-bottom: 20px;
      position: relative;
      width: 58px;
      height: 58px;
      border-radius: 50%;
      background-color: #E6E5E4;
      transition: .3s;
      border: 0;

      &:hover {
        background-color: #D5D4D2;
      }

      &:focus {
        outline: none;
      }

      &:before {
        position: absolute;
        content: '';
        width: 26px;
        height: 15px;
        top: 19px;
        left: 50%;
        margin-left: -13px;
        //background: url(../img/icon/footer-end__btn.png) center center no-repeat;
      }
    }

    p {
      font-size: px-to-rem(14px);
      line-height: px-to-rem(20px);
      color: rgba(0, 0, 0, 0.7);
      text-align: center;

      a {
        letter-spacing: 0.05em;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(176, 151, 110, .5);
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none;
        transition: .3s;
      }
    }
  }
}
