.no-webp {
  .gallery-new {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          &-img {
            &:before {
              background: url('../img/icon/hover.png') center center no-repeat rgba(176,151,110,.5);
            }
          }
        }
      }
    }
  }
}

.webp {
  .gallery-new {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          &-img {
            &:before {
              background: url('../img/icon/hover.webp') center center no-repeat rgba(176,151,110,.5);
            }
          }
        }
      }
    }
  }
}

.gallery-new {
  height: 100%;
  background: #F1EBE2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0 45px 20px;

  @media (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (min-width: 992px) {
    padding-right: 20px;
  }

  @media (min-width: 1400px) {
    padding: 112px 80px 125px;
  }

  @media (min-width: 1920px) {
    padding-top: calc(112px * 1.4);
    padding-bottom: calc(125px * 1.4);
  }

  &__title {
    margin-right: 20px;
    font-family: Playfair Display, serif;
    font-size: px-to-rem(21px);
    line-height: px-to-rem(28px);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 35px;

    @media (min-width: 768px) {
      font-size: px-to-rem(36px);
      line-height: px-to-rem(48px);
      margin-bottom: 60px;
    }

    @media (min-width: 1400px) {
      margin-right: 80px;
      margin-bottom: 96px;
    }
  }

  .swiper-container {
    .swiper-wrapper {
      @media (min-width: 992px) {
        justify-content: center;
      }
      .swiper-slide {
        width: auto!important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 5px;
        border: 1px solid #E6E6E6;
        transition: border .2s ease-in-out;

        &:hover {
          border: 1px solid #D8CBB7;

          .swiper-slide-btn {
            background: #B0976E;
          }
        }

        &-img {
          margin-bottom: 30px;
          font-size: 0;
          position: relative;

          &:hover:before {
            opacity: 1;
          }

          &:before {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: "";
            opacity: 0;
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            z-index: 2;
          }

          img {
            transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
            width: 100%;
          }

          span {
            position: absolute;
            padding: 5px 7px;
            top: 0;
            right: 0;
            background: #B0976E;
            font-size: px-to-rem(10px);
            line-height: px-to-rem(14px);
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
          }
        }

        &-colors {
          display: flex;
          margin-bottom: 17px;

          .colors__item {
            list-style: none;
            span {
              display: block;
              width: 20px;
              height: 20px;
              text-align: center;
              border: 1px solid #fff;
              padding: 1px;

              a {
                width: 16px;
                height: 16px;
                display: block;
                &.red {
                  background: #d43041;
                }

                &.green {
                  background: #8f9394;
                }

                &.blue {
                  background: #9eb8b8;
                }
              }
            }
          }
        }
        &-title {
          font-family: 'Playfair Display', serif;
          text-decoration: none;
          color: #333;
          line-height: 120%;
          text-transform: uppercase;
          font-size: px-to-rem(23px);
          margin-bottom: 12px;
        }
        &-price {
          color: #D83244;
          line-height: 120%;
          font-size: px-to-rem(16px);
          margin-bottom: 25px;
        }
        &-btn {
          @include btn {
            margin-bottom: 25px;
            background-color: #252C1C;
            max-width: 117px;
            line-height: 37px;
            font-size: 13px;
            color: #FFF;
            padding: 0;
            transition: background .2s ease-in-out;
          }
        }
      }
    }
  }

  &__btn {
    @include btn {
      margin-top: 40px;
      margin-right: 20px;
      max-width: 250px;
      @media (min-width: 768px) {
        margin-top: 60px;
        font-size: px-to-rem(15px);
        line-height: px-to-rem(24px);
        max-width: 276px;
      }
      @media (min-width: 1400px) {
        margin-right: 80px;
      }
    }
  }
}
