.no-webp {
  .gallery {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .swiper-slide-1 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-1.png') no-repeat center top/cover;
          }
          .swiper-slide-2 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-2.png') no-repeat center top/cover;
          }
          .swiper-slide-3 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-3.png') no-repeat center top/cover;
          }
          .swiper-slide-4 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-4.png') no-repeat center top/cover;
          }
          .swiper-slide-5 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-5.png') no-repeat center top/cover;
          }
          .swiper-slide-6 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-6.png') no-repeat center top/cover;
          }
          .swiper-slide-7 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-7.png') no-repeat center top/cover;
          }
        }
      }
    }
  }
}

.webp {
  .gallery {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .swiper-slide-1 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-1.webp') no-repeat center top/cover;
          }
          .swiper-slide-2 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-2.webp') no-repeat center top/cover;
          }
          .swiper-slide-3 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-3.webp') no-repeat center top/cover;
          }
          .swiper-slide-4 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-4.webp') no-repeat center top/cover;
          }
          .swiper-slide-5 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-5.webp') no-repeat center top/cover;
          }
          .swiper-slide-6 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-6.webp') no-repeat center top/cover;
          }
          .swiper-slide-7 {
            width: inherit;
            height: inherit;
            background: url('../img/swipe/item-7.webp') no-repeat center top/cover;
          }
        }
      }
    }
  }
}

.gallery {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;

  @media (min-width: 576px) {
    flex-direction: row;
  }

  @media (min-width: 1400px) {
    padding-left: 80px;
    padding-top: 125px;
    padding-bottom: 113px;
  }

  @media (min-width: 1920px) {
    padding-top: calc(125px * 1.4);
    padding-bottom: calc(113px * 1.4);
  }

  &__info {
    margin-right: 20px;
    @media (min-width: 576px) {
      margin-right: 100px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 60px;
    }

    .swiper-pagination {
      display: none;
      height: 2px;
      position: relative;
      .swiper-pagination-progressbar-fill {
        background: rgba(176, 151, 110, 0.7);
      }

      @media (min-width: 576px) {
        display: block;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-family: Playfair Display, serif;
    font-size: px-to-rem(21px);
    line-height: px-to-rem(28px);
    text-align: center;
    letter-spacing: 0.1em;
    color: #333333;
    @media (min-width: 576px) {
      text-align: left;
      font-size: px-to-rem(36px);
      line-height: px-to-rem(48px);
    }
    @media (min-width: 992px) {
      font-size: px-to-rem(36px);
      line-height: px-to-rem(48px);
    }
  }

  &__subtitle {
    margin-top: 25px;
    margin-bottom: 45px;
    text-transform: uppercase;
    font-size: px-to-rem(14px);
    line-height: px-to-rem(22px);
    text-align: center;
    letter-spacing: 0.1em;
    color: #777777;

    @media (min-width: 576px) {
      text-align: left;
    }
  }

  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        &-name {
          margin-top: 10px;
          font-size: px-to-rem(14px);
          line-height: px-to-rem(22px);
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #777777;
          min-height: 50px;
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}
