extends common/layout

block head
    - const title = 'Одежда из льна от производителя - компания Кайрос';
    - const description = 'Kayros - производитель женской одежды из натурального льна. Предлагаем большой выбор платьев, блуз, жакетов, ветровок, юбок и брюк по доступным ценам';
    - const keywords = 'одежда из льна, льняная одежда, кайрос, kayros, kayrosxl';

block content
    header
        block nav
            include includes/nav
        block info
            include includes/info
    block banner
        include includes/banner
    block gallery
        include includes/gallery
    block gallery_new
        include includes/gallery_new
    block information
        include includes/information
    block instagram
        include includes/instagram
    block footer
        include includes/footer



