body {
  &.inner_wrapper_body {
    header, footer {
      h2, p {
        margin: 0;
      }
      ul {
        padding: 0;
      }

      li {
        list-style: none;

        a {
          text-decoration: none;
        }
      }
    }
  }
  &:not(.inner_wrapper_body) {
    h2, p {
      margin: 0;
    }
    ul {
      padding: 0;
    }

    li {
      list-style: none;

      a {
        text-decoration: none;
      }
    }
  }

}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
